<div data-role="page">
   <div data-role="header">
          
         <h1>Knackle</h1>
     
        </div>
    <div data-role="content" role="main" class="ui-content">    
        
    
    
<center>

Het is gelukt!<br />
<br />
<a href="<%= url_for(@message.group) %>" data-ajax="false"><button data-theme="f" class="ui-btn-hidden" data-disabled="false">Go back</button></a>

        </center>

    </div>
 </div>