<div data-role="page">
   <div data-role="header">
          
         <h1>Knackle</h1>
     
        </div>
    <div data-role="content" role="main" class="ui-content">    
        
    
    
        <center><img src="assets/logo.png" style="width:80%; max-width: 400px;"> 
          <a href="<%= user_omniauth_authorize_url(:facebook) %>" data-ajax="false" style="text-decoration: none;"><button data-theme="f" class="ui-btn-hidden" data-disabled="false">Sign in with Facebook</button></a>
          
          <br>
          <p>You need Facebook to login, if you don't have you can't play this game. So create a Facebook account and join!</p>
          
        </center>
    </div>
 </div>